{% extends 'seller-base.html' %}
{% load static %}
{% block content %}




<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url({% static 'images/bg-01.jpg' %});">
	<h2 class="ltext-105 cl0 txt-center">
		Add Product

	</h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-104 p-b-116">
	<div class="container">
		<div class="flex-w flex-tr">

			<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
				<form method="post" action="{% url 'add_product' %}" enctype="multipart/form-data">
					{% csrf_token %}
					<h4 class="mtext-105 cl2 txt-center p-b-30">
						Add Product
					</h4>
					<div class="bor8 m-b-20 how-pos4-parent">
						<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="title"
							placeholder="Title of Product">
					</div>
					<div class="bor8 m-b-20 how-pos4-parent">
						<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="number" name="price"
							placeholder="Product Price">
					</div>
					<div class="bor8 m-b-20 how-pos4-parent">
						<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="number" name="quantity"
							placeholder="Product Quantity">
					</div>
					<div class="bor8 m-b-30">
						<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="trader"
							placeholder="Trader Name">
					</div>
					<div class="bor8 m-b-25 how-pos4-parent">
						<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="file" name="image"
							placeholder="Product Image">
					</div>
					<div class="bor8 m-b-30">
						<textarea class="stext-150 cl2 plh3 size-120 p-lr-28 p-tb-25" name="desc"
							placeholder="Product Description" style="height: 150px;"></textarea>
					</div>
					<div>
						<input type="checkbox" name="in_stock">
						<label for="in_stock">In Stock</label>
					</div>
					<div class="stext-115 cl6 size-213 p-t-18">
						{% if msg_s %}
						<p style="color: green;">{{msg_s}}</p>
						{% endif %}
					</div>
					<div class="bor8 m-b-30">
						{% if msg_d %}
						<p style="color: red;">{{msg_d}}</p>
						{% endif %}
					</div>
					<button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
						Submit
					</button>
				</form>
			</div>
		</div>
	</div>
</section>

{% endblock content %}